{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form(registrationForm) }}

    <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous !</a></p>
{% endblock %}
